<h1 class="text-3xl font-bold mb-6">Books List</h1>
<ul class="space-y-4">
  {{#each this.model as |book|}}
    <li class="p-4 border border-gray-300 rounded-lg shadow-md">
      <strong class="text-lg font-semibold">{{book.title}}</strong> by {{book.author}} - <span class="italic">{{book.genre}}</span> (Published: {{book.publishedYear}})
    </li>
  {{/each}}
</ul>
